extends ../layout

block content
  header #{restaurant.name}
  a.headerButton(href="/restaurants/") All Restaurants
  main
    img.showImg(src="#{restaurant.img}")
    .showInfo
      div #{restaurant.cuisine} cuisine
      a.location(href='/restaurants/'+restaurant.id+'/map') Located in: #{restaurant.city}, #{restaurant.state}
      br
      br
      p #{restaurant.description}
      p Rating: #{restaurant.rating}
      a.editB(href='/restaurants/'+restaurant.id+'/edit') Edit
      a.deleteB(href='/restaurants/'+restaurant.id+'/delete') Delete
