extends ../layout

block content
  header #{restaurant.name}
  main
    img.showImg(src="#{restaurant.img}")
    .showInfo
      div #{restaurant.cuisine} cuisine
      div Located in #{restaurant.city}, #{restaurant.state}
      p #{restaurant.description}
      p Rating: #{restaurant.rating}
      a.editB(href='/restaurants/'+restaurant.id+'/edit') Edit
      a.deleteB(href='/restaurants/'+restaurant.id+'/delete') Delete
